// app global css in SCSS form

* {
  font-family: 'Varela Round', sans-serif !important;
}

a {
  color: unset !important;
  text-decoration: unset;
}

.flag-green {
  background: #056837 !important;
}
.flag-red {
  background: #E3000A !important;
}
.flag-white {
  background: #fff;
}
.flag-white p {
  padding: 10px 0;
  background: transparent;
  margin-top: -30px;
}

html,body {
  height:100%;
  min-height:100%;
  font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
}

.text-red {
  background-color: red !important;
}
