// app global css in SCSS form

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-subtitle1,
.text-subtitle2,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: 'Knockout' !important;
}

.text-subtitle3 {
  font-family: 'Knockout';
  font-weight: 300;
}

a {
  color: unset;
  text-decoration: unset;
}

.flag-green {
  background: #056837;
}
.flag-red {
  background: #e3000a;
}
.flag-white {
  background: #fff;
}
.flag-white p {
  padding: 10px 0;
  background: transparent;
  margin-top: -30px;
}
html,
body {
  height: 100%;
  min-height: 100%;
}

.text-red {
  background-color: red;
}

.text-caption::first-letter {
  text-transform: uppercase;
}

.bg-card-gradient {
  background: radial-gradient(0% 100%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.03) 100%);
}

.rounded-card {
  border-radius: 26px !important;
}

.rounded-banner-bottom {
  border-radius: 0px 0px 26px 26px !important;
  -webkit-border-radius: 0px 0px 26px 26px !important;
  -moz-border-radius: 0px 0px 26px 26px !important;
  -ms-border-radius: 0px 0px 26px 26px !important;
  -o-border-radius: 0px 0px 26px 26px !important;
}

.rounded-top {
  border-radius: 26px 26px 0px 0px !important;
  -webkit-border-radius: 26px 26px 0px 0px !important;
  -moz-border-radius: 26px 26px 0px 0px !important;
  -ms-border-radius: 26px 26px 0px 0px !important;
  -o-border-radius: 26px 26px 0px 0px !important;
}
