// @font-face
//   font-family: Inter-Light
//   src: url(./fonts/Inter-ExtraLight.ttf)

@font-face
  font-weight: 400
  font-family: Inter-Regular
  src: url(./fonts/Inter-Regular.ttf)

@font-face
    font-family: Inter-Bold
    src: url(./fonts/Inter-Bold.ttf)

@font-face
  font-family: Knockout
  src: url(./fonts/Knockout-30.otf)

// @font-face
//   font-family: Inter
//   src: url(./fonts/Inter.woff2)


.text-h7
  font-family: 'Knockout'
  font-size: 18px
  text-overflow: ellipsis
  white-space: nowrap
