@font-face
	font-family: Knockout Large
	src: url(./fonts/Knockout-30.otf)

.serpica-title
	font-family: 'Knockout Large' !important
	font-size: 20px

.knockout
	font-family: 'Knockout Large' !important
