.bg-dark-page {
  background-color: $dark-page;
}

.container {
  background: linear-gradient(
    360deg,
    hsla(206, 12%, 23%, 1) 0%,
    hsla(200, 13%, 91%, 1) 10%
  );
}

.q-page {
  z-index: 2000;
}

.q-field__native,
.q-field__label {
  margin: 0px 16px !important;
}

.q-notification__message::first-letter {
  text-transform: uppercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

@media (max-width: 599.98px) {
  .q-layout-padding {
    padding: 40px 16px;
  }
}

.border-radius-md {
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}

.border-radius-sm {
  border-radius: 16px ;
  -webkit-border-radius: 16px ;
  -moz-border-radius: 16px ;
  -ms-border-radius: 16px ;
  -o-border-radius: 16px ;
}

.border-radius-medium {
  border-radius: 16px 0px 16px 0px;
  -webkit-border-radius: 16px 0px 16px 0px;
  -moz-border-radius: 16px 0px 16px 0px;
  -ms-border-radius: 16px 0px 16px 0px;
  -o-border-radius: 16px 0px 16px 0px;
}

.cart-heart {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: -7px;
  right: -9px;
}
